#frame{
	font-size: 25px;
	background-color: #000;
}

#gridONE{
	color: #FFF;
	background-color: #0F0;
	height: 150px;
}

#GridTWO{
	color: #00F;
	background-color: #F00;
}

#GridTHREE{
	color: #F00;
	background-color: #00F;
}

#GridFOUR{
	color: #FFF;
	background-color: #000;

}

#GridFIVE{
	color: #000;
	background-color: #FFF;
}