#Frame{
	font-size: 25px;
	background-color: black;
}

#GridONE{
	color: white;
	background-color: green;
	height: 150px;
}

#GridTWO{
	color: blue;
	background-color: red;
}

#GridTHREE{
	color: red;
	background-color: blue;
}

#GridFOUR{
	color: white;
	background-color: black;

}

#GridFIVE{
	color: black;
	background-color: white;
}